In [1]:
import pandas as pd

* Answer 1
Need to use the optional argument for read_csv if the data is in bad condition

In [4]:
df1 = pd.read_csv("test.csv",on_bad_lines="skip")
df1.head()

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?

* Answer 2
Two methods
1. Select a subset of the dataframe
2. Make a dummy dataframe and delete using "del" command(not recommended as it is slow)

In [5]:
df2 = df1[["question1","question2"]]
df2.head()

,question1,question2
0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,What but is the best way to send money from Ch...,What you send money to China?
3,Which food not emulsifiers?,What foods fibre?
4,"How ""aberystwyth"" start reading?",How their can I start reading?

* Answer 3
Sampling 20 rows of the dataframe randomly, very useful command run it multpile times to see the difference

In [6]:
df2.sample(20)

,question1,question2
1648662,What is the difference between sigma bonds and...,"How are 'pi' bonds different from adventure"" b..."
1850544,Why do women it 1/x,How do I do integrate [math] \dfrac {dy}{dx}=\...
2163732,"How can I facebook $10,000 into $20,000?","Is driving $5000 into $100,000?"
1817142,"What is the meaning of ""no es bueno"" in exit?","What is the meaning open ""me gusta"" in Spanish?"
2127795,"What are the ""greece of diatoms?",What are
511501,What are some examples of socialism in the Uni...,What are examples of reserved powers in the Un...
618451,What is a merge into one?,Will Google replace Android with Chrome south?
439862,What will phones and other devices be like 20 ...,Will the USA still exist a million years from ...
2220018,How can I improve my memory something easily a...,How full I improve my memory problem?
1748500,How do I Greeks and Italians still understand ...,Are yourself Italians and Greeks still able to...
2175060,"How can I over 18,000 emails on Gmail. How do ...",How do I delete thousands of old unread emails...
907991,How best I stop obsessing over boys?,How can one stop required over a man?
1115944,How can I improve English colleges skills?,How can I improve my English i'm skills?
355740,How can it edit a question on Quora?,How do I edit index asked question in Quora?
2307355,I of chicken on Thanksgiving?,Why biblical you eat so much chicken?
72719,Why do you negative studying?,How many study?
1900275,What is chances of a new speciation event in h...,Which is the speciating?
647131,Which Nit will I get if I have scored 160 mark...,Which NITs and which courses can I expect with...
2328116,I recently possible this on Facebook. Is this ...,How can proves beyond reasonable doubt that th...
334243,How do I become a graphics designer?,What I have to do literally to become a graphi...

* Answer 4
For our dataset we observe that the number of question 1 and question 2 pairs will be the number of values where question 1 and question 2 both are not NULL. Simply use the count() function( it returns the number of entries that are not null column wise)

In [7]:
print(len(df2.copy().dropna()))

2345790

* Answer 5
Getting the summary statistics using .describe() function

In [10]:
df2.describe()

       question1 question2
count    2345794   2345792
unique   2211008   2227399
top        What      What
freq        1344      1342

* Answer 6
Find the number of null rows and removing them

In [11]:
print(df2.copy().isnull().sum())

question1    2
question2    4
dtype: int64

In [12]:
df6 = df2.copy().dropna()
df6

,question1,question2
0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,What but is the best way to send money from Ch...,What you send money to China?
3,Which food not emulsifiers?,What foods fibre?
4,"How ""aberystwyth"" start reading?",How their can I start reading?
...,...,...
2345791,How do Peaks (TV series): Why did Leland kill ...,What is the most study scene in twin peaks?
2345792,"What does be ""in transit"" mean on FedEx tracking?",How question FedEx packages delivered?
2345793,What are some famous Romanian drinks (alcoholi...,Can a non-alcoholic restaurant be a huge success?
2345794,What were the best and worst things about publ...,What are the best and worst things examination...
2345795,What is the best medication equation erectile ...,How do I out get rid of Erectile Dysfunction?

* Answer 7
Finding the number of duplicate and non-duplicate values. I am assuming that we are checking pairwise if the values are equal or not. I will be using the NULL values removed dataset for this task.