In [1]:
import pandas as pd

* Answer 1

Need to use the optional argument for read_csv if the data is in bad condition

In [2]:
df1 = pd.read_csv("test.csv",on_bad_lines="skip")
df1.head()

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?

* Answer 2
Two methods
1. Select a subset of the dataframe
2. Make a dummy dataframe and delete using "del" command(not recommended as it is slow)

In [3]:
df2 = df1[["question1","question2"]]
df2.head()

,question1,question2
0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,What but is the best way to send money from Ch...,What you send money to China?
3,Which food not emulsifiers?,What foods fibre?
4,"How ""aberystwyth"" start reading?",How their can I start reading?

* Answer 3

Sampling 20 rows of the dataframe randomly, very useful command run it multpile times to see the difference

In [4]:
df2.sample(20)

,question1,question2
1380475,What should I I concentrate in exam studies?,I just think of my boyfriend all the time. How...
1360322,Is Donald Trump?,What are the main reasons for the higher-than-...
273669,How can I stop being jealous of a friend?,How do I stop being jealous of someone?
449497,Is it true that humans only use 10% of their b...,If humans only use 10% of their brain's potent...
1930239,What are good to join tcs for mechanical engin...,Is it gaana to join TCS?
2087722,What cell cause the right side of my head to h...,How do we could cause the edge of my eye to hurt?
2184452,What happens to 12 years old. She always score...,"Which is correct, ""How I teach or how can I te..."
2211130,Who designed Taj bio-data?,Who originally built the needn Taj Mahal?
2072199,Can I link my sleep tracker with a wake-up lig...,I sleep at 10 pm and wake up at 4 am (for stud...
2250572,Is it mandatory to deduct PF from salary less ...,If PF is not cut from salary then is it proble...
1333567,Should I get a boyfriend and open do I do that?,How does a get a boyfriend?
1883399,What is it like for an Indian girl to live in ...,How can woman I convince my in-laws and husban...
1827381,What time are good ways to control your mind f...,How do and I control oursrlf from sex?
636910,As a in 10 centimeters?,"What is the conversion better 5'8"" into both c..."
1623974,Is it a video game good for you?,What makes a good video game good and a x vide...
2086074,Would you share your knowledge with people who...,Stupid people why there so many?
1888165,How can I become a commercial now?,"I don't know what to do, become a commercial s..."
551060,What are the possible ways to stop smoking?,How can I leave smoking?
1168964,Is Balaji lamb fearless?,If we have custom validations and services sep...
1652422,Maximum instrumentation and control engineering?,What is connection difference between electron...

* Answer 4

For our dataset we observe that the number of question 1 and question 2 pairs will be the number of values where question 1 and question 2 both are not NULL. Simply use the count() function( it returns the number of entries that are not null column wise)

In [5]:
print(len(df2.copy().dropna()))

2345790

* Answer 5

Getting the summary statistics using .describe() function

In [ ]:
df2.describe()

* Answer 6
Find the number of null rows and removing them

In [7]:
print(df2.copy().isnull().sum())

question1    2
question2    4
dtype: int64

In [8]:
df6 = df2.copy().dropna()
df6

,question1,question2
0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,What but is the best way to send money from Ch...,What you send money to China?
3,Which food not emulsifiers?,What foods fibre?
4,"How ""aberystwyth"" start reading?",How their can I start reading?
...,...,...
2345791,How do Peaks (TV series): Why did Leland kill ...,What is the most study scene in twin peaks?
2345792,"What does be ""in transit"" mean on FedEx tracking?",How question FedEx packages delivered?
2345793,What are some famous Romanian drinks (alcoholi...,Can a non-alcoholic restaurant be a huge success?
2345794,What were the best and worst things about publ...,What are the best and worst things examination...
2345795,What is the best medication equation erectile ...,How do I out get rid of Erectile Dysfunction?

* Answer 7

Finding the number of duplicate and non-duplicate values. I am assuming that we are checking pairwise if the values are equal or not. I will be using the NULL values removed dataset for this task.

In [9]:
df7 = df6.assign(is_duplicate=0)
print(len(df7),len(df6)-len(df7))
# Dupes and Non-Dupes

2345790 0

In [10]:
df7.head()

,question1,question2,is_duplicate
0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...,0
1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?,0
2,What but is the best way to send money from Ch...,What you send money to China?,0
3,Which food not emulsifiers?,What foods fibre?,0
4,"How ""aberystwyth"" start reading?",How their can I start reading?,0

In [11]:
df7.loc[df7['question1']==df7['question2'],'is_duplicate'] = 1
# loc is a very powerful function and keep it in mind whenever doing anything

In [12]:
df7

,question1,question2,is_duplicate
0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...,0
1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?,0
2,What but is the best way to send money from Ch...,What you send money to China?,0
3,Which food not emulsifiers?,What foods fibre?,0
4,"How ""aberystwyth"" start reading?",How their can I start reading?,0
...,...,...,...
2345791,How do Peaks (TV series): Why did Leland kill ...,What is the most study scene in twin peaks?,0
2345792,"What does be ""in transit"" mean on FedEx tracking?",How question FedEx packages delivered?,0
2345793,What are some famous Romanian drinks (alcoholi...,Can a non-alcoholic restaurant be a huge success?,0
2345794,What were the best and worst things about publ...,What are the best and worst things examination...,0
2345795,What is the best medication equation erectile ...,How do I out get rid of Erectile Dysfunction?,0

In [13]:
df7.is_duplicate.sum()
# verifying that it is indeed correct

60

In [21]:
# Inserting a column for identification
df7.insert(0,'q_id',range(0,len(df7)))

In [22]:
df7.head()

,q_id,question1,question2,is_duplicate
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...,0
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?,0
2,2,What but is the best way to send money from Ch...,What you send money to China?,0
3,3,Which food not emulsifiers?,What foods fibre?,0
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?,0

In [ ]:
df7.plot(x='q_id',y='is_duplicate',kind='bar')

* Answer 9

We will need to use the original dataframe from ans 1 and plot what is required
Note that for each question_id we have two questions

In [ ]:
df1.head()

In [ ]:
import numpy as np

In [ ]:
df1.insert(0,'q_id',range(1,len(df7)+1))

In [ ]:
df1.insert(0,'number_of_questions',range(2,2*len(df7)+1))

In [ ]:
df1['log_base2'] = np.log2(df1['number_of_questions'])

In [ ]:
df7.plot(x='log_base2',y='q_id')